{{> /album/header}}
<h1>Albums</h1>
<form method="POST" action="/album/form">
  <input type="text" name="q" aria-label="Search Query" value="{{ query }}" />
  <button>Search</button>
</form>
<div class="albums">
  {{#albums}}
  <div class="album">
    <h2>{{ title }}</h2>
    <p>{{ artist }}</p>
  </div>
  {{/albums}}
</div>
{{> /album/footer}}
